img {
  display: block;
}
#Sidebar {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100vh;
  background-color: #fff;
  border-right: solid 1px #efefef;
  transition: left .3s ease-out;
}
#Sidebar.Active {
  left: 0;
}
#Export {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#Menu {
  position: absolute;
  top: 20px;
  right: -50px;
}
#Menu:hover {
  cursor: pointer;
}
.Close-Icon {
  width: 24px;
}
.Menu-Icon {
  width: 22px;
}
.Export-Icon {
  width: 26px;
}