body, ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
ul {
  list-style: none;
}
#Sidebar {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100vh;
  background-color: #fff;
  border-right: solid 1px #efefef;
  transition: left .3s ease-out;
}
#Sidebar.Active {
  left: 0;
}
#Export {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#Menu {
  position: absolute;
  top: 20px;
  right: -50px;
}
#Menu:hover {
  cursor: pointer;
}
.Close-Icon {
  width: 24px;
}
.Menu-Icon {
  width: 22px;
}
.Export-Icon {
  width: 26px;
}
.Label {
  text-align: center;
  font-size: 20px;
  margin: 30px 0 20px;
  color: #ccc;
}
#Palette {
  display: flex;
  justify-content: space-evenly;
}
#Palette li {
  flex: 0 0 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
#Palette li.Current {
  border-radius: 0;
}