#Sidebar {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100vh;
  background-color: #fff;
  border-right: solid 1px #efefef;
  transition: left .3s ease-out;
}
#Sidebar.Active {
  left: 0;
}
#Export {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  border: solid 1px #eee;
  border-radius: 4px;
}
#Export:active {
  background-color: #eee;
}
#Menu {
  position: absolute;
  top: 20px;
  right: -50px;
  text-align: center;
}
#Menu:hover {
  cursor: pointer;
}
#Menu > img {
  display: inline-block;
}
.Close-Icon {
  width: 28px;
}
.Menu-Icon {
  width: 24px;
}
.Export-Icon {
  display: block;
  position: fixed;
  top: 20px;
  right: 30px;
  width: 26px;
}