#MindMap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#links line {
  stroke: #aaa;
}
.node rect {
  stroke: #666;
  stroke-width: 1px;
  fill: #efefef;
  pointer-events: all;
}
.node text {
  font-size: 16px;
  fill: #666;
}
.node circle {
  opacity: 0;
  fill: #fff;
  stroke: #666;
  stroke-width: 1px;
}
.node:hover circle {
  opacity: 1;
  cursor: pointer;
}