#MindMap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.node rect {
  cursor: move;
}
.node text {
  font-size: 14px;
  cursor: move;
}

.node .edit,
.node .delete,
.node .plus {
  opacity: 0;
  transform: translate(0, 0);
  transition: all .3s ease-out;
  cursor: pointer;
  transition-delay: .3s;
}
.node:hover .edit,
.node:hover .delete,
.node:hover .plus {
  opacity: 1;
}
.node:hover .plus {
  transform: translate(30px, -36px);
  transition-delay: .1s;
}
.node:hover .edit {
  transform: translate(46px, 0);
  transition-delay: 0s;
}
.node:hover .delete {
  transform: translate(30px, 36px);
  transition-delay: .2s;
}